/* Colors

white: #FFFFFF;
black: #000000;
blue:  FFFFFF;

*/

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Lekton:400,400i,700');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lekton', sans-serif;
  background-color: #FFFFFF;
}

.nav {
  padding-top: 10px;
  min-height: 57px;
}

.logo {
  padding: 5px;
  float: left;
}

.singin {
  padding: 15px 25px 15px 15px;
  float: right;
}

.singin a {
  font-weight: bold;
  color: #000000;
}

.intro_video {
  margin: 0 auto;
  display: block;
  max-height: 378px;
}

.video_info {
  vertical-align: middle;
}

.video_info h1 {
  font-size: 48px;
}

.center-text {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

input.info_button {
  font-size: 20px;
  margin: 20px auto;
  padding: 10px;
  display: block;
  background-color: #FFFFFF;
  color: #0074bf;
  border: 2px solid #0074bf;
  transition: background-color 0.2s ease;
}

input.info_button:hover {
  color: #FFFFFF;
  background-color: #0074bf;
}





/* MEDIA QUERIES */

/* Medium Screen */
@media screen and (max-width: 768px) {

  .intro_video {
    max-height: 300;
  }

  .video_info h1 {
    font-size: 30px;
  }

}

/* Portrait Phone and Landscape */
@media screen and (max-width: 540px) {

  .intro_video {
    max-height: 255px;
  }


}
