/* Colors

white: #FFFFFF;
black: #000000;
blue:  #2E9FFF;
cream: #FFFBC2;

*/

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Lekton:400,400i,700');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lekton', sans-serif;
  background-color: #FFFFFF;
}

/* NAV */

.nav {
  padding-top: 10px;
  min-height: 57px;
}

.logo {
  padding: 5px;
  float: left;
}

.singin {
  padding: 15px 25px 15px 15px;
  float: right;
}

.singin a {
  font-weight: bold;
  color: #000000;
}

/* SECTION */

section {
  min-height: 428px;
}

section {
  padding-top: 40px;
}

section img {
  margin: 0 auto;
}

section h1 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

section p {
  font-size: 17px;
  text-align: justify;
}

.margin-bottom {
  margin-bottom: 30px;
}

.border-top {
  border-top: 1px solid #ccc;
}


/* DESCRIPTION  */

section.description {
  padding-top: 0;
}

.intro_video {
  margin: 0 auto;
  display: block;
  max-height: 378px;
}

.video_info {
  vertical-align: middle;
}

.video_info h1 {
  font-size: 48px;
}

.center-text {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

input.info_button {
  font-size: 20px;
  margin: 20px auto;
  padding: 10px;
  display: block;
  background-color: #FFFFFF;
  color: #2E9FFF;
  border: 2px solid #2E9FFF;
  transition: background-color 0.3s ease;
}

input.info_button:hover {
  color: #FFFFFF;
  background-color: #2E9FFF;
}


/* SAVE */

section.description h1 {
  border-bottom: none;
}

/* CREATE */

p span.highlighted {
  background: #FFFBC2;
}



/* MEDIA QUERIES */

/* Medium Screen */
@media screen and (max-width: 768px) {

  .intro_video {
    max-height: 300;
  }

  .video_info h1 {
    font-size: 30px;
  }

}

/* Portrait Phone and Landscape */
@media screen and (max-width: 540px) {

  .intro_video {
    max-height: 255px;
  }


}
