/* Colors

white: #FFFFFF;
black: #000000;
blue:  #2E9FFF;
cream: #FFFBC2;

*/

/* ********* FONTS ********* */

@import url('https://fonts.googleapis.com/css?family=Lekton:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lekton', sans-serif;
  background-color: #FFFFFF;
}

/* ********* NAV ********* */

.nav {
  padding-top: 10px;
  min-height: 57px;
}

.logo {
  padding: 5px;
  float: left;
}

.nav a {
  float: right;
}

.nav-link {
  padding: 15px 25px 15px 15px;
}

.nav-link a {
  font-weight: bold;
  color: #000000;
}

/* ********* SECTION ********* */

section {
  min-height: 428px;
}

section {
  padding-top: 40px;
}

section img {
  margin: 0 auto;
}

section h1 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

section p {
  font-size: 17px;
  text-align: justify;
}

.margin-bottom {
  margin-bottom: 30px;
}

.border-top {
  border-top: 1px solid #ccc;
}


/* ********* DESCRIPTION ********* */

section.description {
  padding-top: 0;
}

.intro_video {
  margin: 0 auto;
  display: block;
  max-height: 378px;
}

.video_info {
  vertical-align: middle;
}

.header_info h1 {
  font-size: 48px;
}

.center_text {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

input.info_button {
  font-size: 20px;
  margin: 20px auto;
  padding: 10px;
  display: block;
  background-color: #FFFFFF;
  color: #2E9FFF;
  border: 2px solid #2E9FFF;
  transition: background-color 0.3s ease;
}

input.info_button:hover {
  color: #FFFFFF;
  background-color: #2E9FFF;
}


/* ********* SAVE ********* */

section h1.no-border {
  border-bottom: none;
}

/* ********* CREATE ********* */

p span.highlighted {
  background: #FFFBC2;
}

/* ********* TRY ********* */

section.try {
  min-height: 241px;
}

section.try h1.noborder {
  font-size: xx-large;
}

.try {
  padding-bottom: 60px;
}

/* ********* FOOTER ********* */

footer {
  text-align: center;
}

footer.nav-link {
  margin-bottom: 30px;
}

.links {
  float: left;
  width: 60%;
}

.leyend {
  float: right;
  width: 40%;
}

.footer {
  padding-bottom: 10px;
}

.footer a {
  float: left;
  margin: 3px auto;
  padding: 0 10px 0 10px;
  text-align: center;
}

.footer p {
  float: right;
}

/* ********* MODAL ********* */

.modal {
  font-family: 'Lato', sans-serif;
  margin-top: 100px;
}

h3.modal-title {
  margin-left: 15px;
}

.labels {
  margin-top: 25px;
  margin-bottom: 60px;
  float: left;
  width: 30%;
}

.labels label {
  padding-left: 25px;
  padding-bottom: 20px;
  font-size: 18px;
}

label.mobile {
  display: none;
}

.fields {
  margin-top: 10px;
  float: right;
  width: 70%;
}

.fields input {
  width: 80%;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 18px;
}

.fields input.checkbox {
  width: 5%;
  display: inline;
}

.info_button.modal-button {
  float: left;
  color: #FFFFFF;
  background-color: #000000;
  border: 2px solid #000000;
}

.info_button.modal-button:hover {
  background-color: #FFFFFF;
  color: #000000;
}


/* ********* MEDIA QUERIES ********* */

/* Medium Screen */
@media screen and (max-width: 768px) {


  .intro_video {
    max-height: 300;
  }

  .video_info h1 {
    font-size: 30px;
  }

  /* FOOTER */

  footer.nav-link {
    margin-bottom: 0;
  }

  .footer a {
    float: none;
    margin-top: 0px;
  }

  .footer p.copy {
    margin-top: 15px;
    float: none;
    text-align: center;
  }

  .links {
    float: none;
    width: 100%;
  }

  .leyend {
    float: none;
    width: 100%;
  }

  .labels {
    display: none;
  }

  .fields {
    width: 80%;
    margin: 0 auto;
  }

  .fields input {
    font-size: 13px;
    margin-right: 0;
    min-height: 40px;
  }

  label.mobile {
    display: block;
  }

  .modal {
    margin: 0;
  }

  .modal-body {
    height: 100%;
  }

}

/* Portrait Phone and Landscape */
@media screen and (max-width: 540px) {

  .intro_video {
    max-height: 255px;
  }

  .footer {
    padding-bottom: 10px;
  }

}
